.services-title{
    font-weight: 300;
    font-style: normal;
    font-family: 'Open Sans',
    sans-serif;
    color: #282434;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0px;
}
.services-subtitle{
        font-weight: 400;
        font-style: normal;
        font-family: 'Open Sans',
        sans-serif;
        color: #8595a0;
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: 0px;
}