.name{
    font-weight: 300;
    font-style: normal;
    font-family: 'Open Sans',
    sans-serif;
    color: #282434;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0px;
}
.sort-des{
    font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans',
    sans-serif;
    color: #8595a0;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0px;
}
.long-dec{
    font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans',
    sans-serif;
    color: #8595a0;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0px
}

@media (max-width: 479px) {

    .name {
        font-size: 22px;
        line-height: 1.2;
        letter-spacing: 0px;

    }

    .sort-des {
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0px;
    }

    .long-dec {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0px;
        color: #282434
    }

}